h1
{
    font-weight: normal;
    font-size: xxx-large;
    user-select: none;
}

h2
{
    font-weight: normal;
    font-size: xx-large;
    user-select: none;
}

.mono-text
{
    font-family: "mono", serif;
    color: #b2ccd6;
}

.clickable-text
{
    border: none;
    font-family: "mono", serif;
    text-decoration: none;
    color: #b2ccd6;
    background: none;
    transition: color 0.25s ease-in-out;
}

button.clickable-text:hover
{
    color: #ffcb6b;
    cursor: pointer;
}

.translate-center
{
    transform: translate(-50%, -50%);
}

.align-text
{
    text-wrap: none;
    text-align: center;
}